@model WebLapTop.Models.Noisanxuat

@{
    ViewData["Title"] = "Create";
}

<div style="margin:5px;" class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="NoiSanXuat" asp-action="Index">Quay về danh sách</a>
            <span class="breadcrumb-item active"> Thêm nơi sản xuất</span>
        </nav>
    </div>
</div>
<div style="margin:5px;" class="row">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Thêm nơi sản xuất</h4>
        </div>
        <div class="card-content">
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-md-3">
                        <label>Tên nơi sản xuất</label>
                    </div>
                    <div class="col-md-8 form-group">
                        <input asp-for="TenNoiSanXuat" class="form-control" placeholder="Tên nơi sản xuất" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
