@model WebLapTop.Models.Binhluan

@{
    ViewData["Title"] = "Create";
}

<div style="margin:5px;" class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="BinhLuan" asp-action="Index">Quay về danh sách</a>
            <span class="breadcrumb-item active"> Thêm bình luận</span>
        </nav>
    </div>
</div>
<div style="margin:5px;" class="row">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Thêm bình luận</h4>
        </div>
        <div class="card-content">
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-md-3">
                        <label>Tên Sản Phẩm</label>
                    </div>
                    <div class="col-md-8 form-group">
                        @Html.DropDownList("IdsanPham", null, "-- Chọn --", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdsanPham, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3">
                        <label>Họ tên người bình luận</label>
                    </div>
                    <div class="col-md-8 form-group">
                        <input asp-for="HoTen" class="form-control" placeholder="Họ tên" />
                    </div>
                    <div class="col-md-3">
                        <label>Ngày giờ bình luận</label>
                    </div>
                    <div class="col-md-8 form-group">
                        <input asp-for="NgayGio" class="form-control" placeholder="Ngày giờ" />
                    </div>
                    <div class="col-md-3">
                        <label>Nội dung</label>
                    </div>
                    <div class="col-md-8 form-group">
                        <textarea id="editor" asp-for="NoiDung" class="form-control" placeholder="Mô Tả"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="https://cdn.ckeditor.com/ckeditor5/32.0.0/classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create(document.querySelector('#editor'))
        .catch(error => {
            console.error(error);
        });
</script>